{% extends 'base.html' %}
{% load widget_tweaks %}


{% block conteudo %}

<div class="content mt-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Empenhos</h5>
            <a class="btn btn-outline-primary mb-3" id="btn-cadastrar" href="{% url 'form' %}">Cadastrar Empenho</a>
            <div class="row">
                <div class="col">
                    <h6 class="card-subtitle mb-2 text-muted">Pesquisar por Empenhos:</h6>
                    <form method="get" class="form-inline">
                        <div class="form-group mb-3 mr-2">
                            {% render_field myFilter.form.numero placeholder="Nº Empenho" class="form-control" id="id_numero" autocomplete="off" %}
                        </div>
                        <div class="form-group mb-3 mr-2">
                            {% render_field myFilter.form.nome placeholder="Cliente" class="form-control" id="id_nome" autocomplete="off" %}
                        </div>
                        <div class="form-group mb-3 mr-2">
                            {% render_field myFilter.form.cnpj placeholder="CNPJ" class="form-control" id="id_cnpj" autocomplete="off" %}
                        </div>
                        <div class="form-group mb-3 mr-2">
                            {% render_field myFilter.form.valor placeholder="Valor do Empenho" class="form-control" id="valor" autocomplete="off" %}
                        </div>
                        <div class="form-group mb-3 mr-2">
                            {% render_field myFilter.form.n_nfe class="form-control" placeholder="Nº Nota" id="nfe" autocomplete="off" %}
                        </div>
                        <div class="form-group mb-3 mr-2">
                            {% render_field myFilter.form.categoria class="form-control" id="id_categoria" autocomplete="off" %}
                        </div>
                        <button class="btn btn-primary ml-2 mb-3" id="btn-pesquisar" type="submit">Pesquisar</button>
                    </form>
                </div>
            </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Numero</th>
                        <th scope="col" class="text-center">Nome</th>
                        <th scope="col" class="text-center">CNPJ</th>
                        <th scope="col" class="text-center">Valor</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Empresa</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    {% for cliente in clientes %}
                    <tr>
                        <td class="text-center">{{ cliente.numero }}</td>
                        <td class="text-center">{{ cliente.nome }}</td>
                        <td class="text-center">{{ cliente.cnpj }}</td>
                        <td class="text-center">R$ {{ cliente.valor }}</td>
                        <td class="text-center">{{ cliente.categoria }}</td>
                        <td class="text-center">{{ cliente.empresa }}</td>
                        <td class="text-center">
                            <a href="/cliente/detalhe/{{ cliente.id }}" class="btn btn-outline-secondary"><i class="bi bi-eye"></i></a>
                            <a href="/cliente/edit/{{ cliente.id }}/" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i></a>
                            <a href="{{ cliente.empenho.url }}" class="btn btn-outline-warning" target="_blank"><i class="bi bi-file-earmark-arrow-down"></i></a>
                            {% if cliente.nfe != '0' and cliente.nfe != ''%}
                                <a href="{{ cliente.nfe.url }}" class="btn btn-outline-success" target="_blank"><i class="bi bi-receipt"></i></a>
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <!-- <ul class="pagination">
                    {% for pagina in clientes.paginator.page_range %}
                    
                    {% if clientes.number == pagina %}
                    <li class="page-item active">
                        <a class="page-link" href="{{ request.get_full_path }}?&page={{pagina}}">{{pagina}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.get_full_path }}?&page={{pagina}}">{{pagina}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul> -->
                <ul class="pagination">
                    {% if clientes.has_previous %}
                        <a class="page-link" href="{{ request.get_full_path }}?&page1">&laquo; Primeira</a>
                        <a class="page-link" href="{{ request.get_full_path }}?&page={{ clientes.previous_page_number }}">Anterior</a>
                    {% endif %}

                    <a class="page-link" href="#">Pagina {{ clientes.number }} de {{ clientes.paginator.num_pages }}</a>
    
                    {% if clientes.has_next %}
                        <a class="page-link" href="{{ request.get_full_path }}?&page={{ clientes.next_page_number }}">Próxima</a>
                        <a class="page-link" href="{{ request.get_full_path }}?&page={{ clientes.paginator.num_pages }}">Última &raquo;</a>
                    {% endif %}
                </ul>

            </nav>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"crossorigin="anonymous"></script>

<script>
$('#id_cnpj').mask('00.000.000/0000-00');

$('#valor').mask('000.000.000.000.000,00', {reverse: true});
</script>

{% endblock %}