{% extends 'base.html' %}

{% block conteudo %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <h6 class="card-subtitle mb-2 text-muted">Listagem de Clientes</h6>
            <a class="btn btn-outline-primary mb-3" href="{% url 'form' %}">Cadastrar Cliente</a>
            <div class="row">
                <div class="col">
                    <form method="get" class="form-inline">
                        <div class="form-group mb-3">
                            <label for="nome">Nome</label>
                            {{myFilter.form.nome}}
                        </div>
                        <div class="form-group mb-3 ml-2">
                            <label for="categoria">Categoria</label>
                            {{myFilter.form.categoria}}
                        </div>
                        <button class="btn btn-primary ml-2 mb-3" type="submit">Pesquisar</button>
                    </form>
                </div>
            </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.telefone }}</td>
                        <td>{{ cliente.categoria }}</td>
                        <td>
                            <a href="/cliente/detalhe/{{ cliente.id }}" class="btn btn-outline-secondary">Visualizar</a>
                            <a href="/cliente/edit/{{ cliente.id }}/" class="btn btn-outline-primary">Editar</a>
                            <a href="/cliente/delete/{{ cliente.id }}/" class="btn btn-outline-danger">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% for pagina in clientes.paginator.page_range %}
                    <!--  -->
                    {% if clientes.number == pagina %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}