{% extends 'base.html' %}

{% block conteudo %}
<div class="contents">
    <h1>Detalhes do empenho</h1>
    <div class="contents-info">
        <p>Empenho: {{ cliente.numero }}</p>
        <p>Cliente: {{ cliente.nome }}</p>
        <p>CNPJ: {{ cliente.cnpj }}</p>
        <p>Status: {{ cliente.categoria }}</p>
        <p>Empresa: {{ cliente.empresa }}</p>
        <p>Valor do empenho: R$ {{ cliente.valor }}</p>
        <p>Nota fiscal: {{ cliente.n_nfe }}</p>
        <p>Data: {{ cliente.data_criacao }}</p>
        <p>Observações: {{ cliente.descricao }}</p>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-secondary" style="width: 100%">Voltar</a>
    </div>
</div>
{% endblock%}