{% extends 'base.html' %}
{% load widget_tweaks %}

{% block conteudo %}
    <div class="container col-lg-12 center mt-5 w-75">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title mb-0">
                    Cadastrar Emepnho
                </div>
            </div>            
            <form action="{% if cliente %}/cliente/update/{{cliente.id}}/{% else %}/cliente/create/{% endif %}" method="POST">
                {% csrf_token %}
                
                  <div class="input-group col-12 p-15 my-2">
                    <div class="input-group col-3 p-0">
                      {% render_field form.numero name="numero" type="number" placeholder="Número do empenho" autocomplete="off"%}
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-user"></span>
                        </div>
                      </div>
                    </div>
                    <div class="input-group col-9 pr-0">
                      {% render_field form.nome name="nome" id="nome" type="name" placeholder="Nome do cliente" autocomplete="off"%}
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-address-card"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="input-group col-12 mb-2 p-15">
                    <div class="input-group col-4 p-0" >
                      {% render_field form.cnpj type="cnpj" name="cnpj" type="name" placeholder="CNPJ" autocomplete="off"%}
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-envelope"></span>
                        </div>
                      </div>
                    </div>
                    <div class="input-group col-4 pr-0">
                      {% render_field form.categoria name="categoria" id="categoria" placeholder="Categoria" autocomplete="off"%}
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-phone"></span>
                        </div>
                      </div>
                    </div>
                    <div class="input-group col-4 pr-0">
                      {% render_field form.empresa name="empresa" id="empresa" placeholder="Empresa" autocomplete="off"%}
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-phone"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  {% render_field form.data_criacao name="data_criacao" class="d-none" %}

                <div class="row">
                    <div class="col-2 mb-2 ml-3">
                      <a class="btn btn-danger btn-block" href="{% url 'cliente' %}">Cancelar</a>
                    </div>
                    <div class="col-2 m-0">
                      <button type="submit" class="btn btn-success btn-block" id="submit_button" >Cadastrar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
{% endblock %}
