{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% include 'partials/_head.html' %}
  <title>Empenhos</title>
</head>

<body>

<main>
  <section class="side-section">
    <div class="logo">
        <img src="{% static 'img/vanguardeira.png'%}">
    </div>
    <div class="shortcuts">
        <div class="title">
            <p>Páginas</p>
        </div>
        <div class="buttons">
            <button onclick="location.href='{% url 'dashboard' %}'" class="active"><i class="fa-solid fa-chart-column"></i><p>Visão Geral</p></button>
            <button onclick="location.href='{% url 'form' %}'"><i class="fa-regular fa-square-plus"></i></i><p>Cadastrar Empenho</p></button>
            <button onclick="location.href='{% url 'cliente' %}'"><i class="fa-solid fa-users"></i><p>Clientes</p></button>
        </div>
    </div>
    <div class="footer">
        <p>© 2024 Comercial Vanguardeira</p>
        <a href="{% url 'logout' %}" style="text-decoration: none; color: #777777; justify-content: center;">Sair</a>
    </div> 
</section>
<section class="content-section">
  {% block conteudo %}{% endblock %}
</section>
</main>

  <!-- Page Content -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
  <script src="https://kit.fontawesome.com/49a06b0e28.js" crossorigin="anonymous"></script>

</body>
</html>
